{% extends "base.html" %}

{% block content %}
  <div class="jumbotron p-3 text-center">
  <h1 class="d-inline">
    {{ car.model }}
  </h1>
  <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger btn-lg link-to-page mb-1 mt-1 pb-1 pt-1">
    Delete
  </a>
  <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary btn-lg link-to-page mb-1 mt-1 pb-1 pt-1">
    Update
  </a>

  </div>
  <h1>
    Drivers
    {% if car in user.cars.all %}
      <a href="{% url 'taxi:toggle-car-assign' pk=car.id %}" class="btn btn-danger btn-lg link-to-page">
        Delete me from this car
      </a>
    {% else %}
      <a href="{% url 'taxi:toggle-car-assign' pk=car.id %}" class="btn btn-success btn-lg link-to-page">
        Assign me to this car
      </a>
    {% endif %}
  </h1>

  <hr>

  {% if car.drivers.all %}
    <table class="table table-bordered">
      <tr class="thead-dark">
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>License number</th>
      </tr>
      {% for driver in car.drivers.all %}
        <tr>
          <td>{{ driver.id }}</td>
          <td><a href="{{ driver.get_absolute_url }}">{{ driver.username }} {% if user == driver %} (Me){% endif %}</a></td>
          <td>{{ driver.first_name }}</td>
          <td>{{ driver.last_name }}</td>
          <td>{{ driver.license_number }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no drivers in the service.</p>
  {% endif %}

{% endblock %}
