{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1 class="text-center m-3">{{ object|yesno:"Update,Create" }} car</h1>
  <form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}

    <input type="submit" value="Submit" class="btn btn-dark btn-lg">
    {% if object %}
      <a href="{% url 'taxi:car-detail' pk=car.id %}" class="btn btn-danger btn-lg">Cancel</a>
     {% else %}
      <a href="{% url 'taxi:car-list' %}" class="btn btn-danger btn-lg">Cancel</a>
    {% endif %}
  </form>
{% endblock %}
